/***********************************
* Responsive media queries code *
************************************/
/* Most of the Mobile Phone Code */
@media ( min-width: 320px) and (max-width: 480px) {
/* code start */
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content-section h2 {
  font-size: 16px;
}
.content-section .uline {
  width: 100px;
  margin: -30px 0 0;
  height: 5px;
}
.content-section p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}
.header-section .inner-header h1 {
  font-size: 22px;
  line-height: 26px;
  margin-top: 30px;
}
.header-section .inner-header .gls {
  width: 60%;
  margin-top: 10px;
}
.header-section .inner-header .btn {
  width: 40%;
  margin-top: 15px;
}
.header-section .inner-header .line {
  width: 11px;
}
.what-section .scrl {
  width: 2.4px;
}
.what-section h1 {
  font-size: 28px;
  text-align: left;
  margin-top: -40px;
}
.what-section .uline {
  width: 160px;
  height: 5px;
  margin-top: -30px;
  margin-left: -225px;
}
.what-section p {
  font-size: 10px;
  margin-top: -10px;
  line-height: 18px;
  margin-left: 0px;
}
.what-section .inner-what img {
  width: 150px;
  height: 110px;
}
.what-section .inner-what .dot {
  height: 60px;
  width: auto;
}
.work-section h1 {
  font-size: 26px;
  margin-top: -40px;
  text-align: center;
  margin-left: 160px;
}
.work-section .uline {
  width: 140px;
  height: 5px;
  margin-top: -35px;
  margin-left: 165px;
}
.work-section .scrl {
  margin-top: 50px;
  width: 12px;
}
.work-section .load {
  width: 30%;
  margin-top: 15px;
}
.about-section {
  width: 98%;
  margin: 20px 0;
}
.about-section h1 {
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: -35px;
  text-align: left;
}
.about-section .uline {
  width: 135px;
  height: 5px;
  margin: -35px 265px 0px 0px;
}
.about-section p {
  font-size: 10px;
  margin-top: -15px;
  line-height: 18px;
  margin-left: 0px;
}
.about-section .scrl {
  width: 12px;
}
.about-section .inner-about .crl {
  height: 100px;
}
.about-section .inner-about h1 {
  font-size: 32px;
  text-align: center;
}
.about-section .inner-about h5 {
  font-size: 16px;
  margin: 0px 0px 10px;
}
.about-section .inner-about p {
  font-size: 10px;
  line-height: 16px;
}
.contact-section .form-label {
  font-size: 12px;
  margin-bottom: 2px;
}
.contact-section .form-control {
  width: 95%;
  font-size: 12px;
}
.contact-section .contact-form .send {
  width: 45%;
  margin: 10px auto 30px;
}
.contact-section h1 {
  font-size: 28px;
  letter-spacing: 1px;
}
.contact-section .uline {
  width: 135px;
  height: 5px;
  margin-top: -30px;
}
.contact-section .social-media ul li img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 10px;
}
.contact-section h4 {
  margin-top: 15px;
  font-size: 16px;
}
.contact-section p {
  font-size: 12px;
  line-height: 18px;
}
.footer-section p {
  font-size: 10px;
}
.footer-section .bottom-menu li a {
  font-size: 10px;
}
.footer-section .bottom-menu li {
  margin-right: 10px;
}
.footer-section .bottom-menu {
  margin: 0px;
  padding: 0px;
}
.footer-section .bottom-menu .active {
  padding: 2px 5px;
}
/* code end */
}
/* Most of the Mobile Phone and low-resolution Tablet Code */
@media ( min-width: 481px) and (max-width: 767px) {
/* code start */

.content-section h2 {
  font-size: 16px;
}
.content-section .uline {
  width: 100px;
  margin: -30px 0 0;
  height: 5px;
}
.content-section p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}
.header-section .inner-header h1 {
  font-size: 22px;
  line-height: 26px;
  margin-top: 30px;
}
.header-section .inner-header .gls {
  width: 60%;
  margin-top: 10px;
}
.header-section .inner-header .btn {
  width: 40%;
  margin-top: 15px;
}
.what-section .scrl {
  width: 1.1px;
}
.what-section h1 {
  font-size: 28px;
  margin-top: 0px;
}
.what-section .uline {
  width: 160px;
  height: 5px;
  margin-top: -30px;
}
.what-section p {
  font-size: 10px;
  margin-top: -10px;
  line-height: 18px;
}
.what-section .inner-what img {
  width: 150px;
  height: 110px;
}
.what-section .inner-what .dot {
  height: 60px;
  width: auto;
}
.work-section h1 {
  font-size: 26px;
  margin-top: -40px;
  text-align: right;
}
.work-section .uline {
  width: 100px;
  height: 5px;
  margin-top: -35px;
  margin-left: 120px;
}
.work-section .scrl {
  margin-top: 50px;
  width: 4%;
}
.work-section .load {
  width: 30%;
  margin-top: 15px;
}
.about-section {
  margin: 20px 0;
}
.about-section h1 {
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: -35px;
  text-align: left;
}
.about-section .uline {
  width: 120px;
  height: 5px;
  margin: -35px 175px 0px 0px;
}
.about-section p {
  font-size: 10px;
  margin-top: -15px;
  line-height: 18px;
  margin-left: 0px;
}
.about-section .scrl {
  width: 4%;
}
.about-section .inner-about .crl {
  height: 100px;
}
.about-section .inner-about h1 {
  font-size: 32px;
  text-align: center;
}
.about-section .inner-about h5 {
  font-size: 16px;
  margin: 0px 0px 10px;
}
.about-section .inner-about p {
  font-size: 10px;
  line-height: 16px;
}
.contact-section .form-label {
  font-size: 12px;
  margin-bottom: 2px;
}
.contact-section .form-control {
  width: 95%;
  font-size: 12px;
}
.contact-section .contact-form .send {
  width: 45%;
  margin: 10px auto 30px;
}
.contact-section h1 {
  font-size: 28px;
  letter-spacing: 1px;
}
.contact-section .uline {
  width: 135px;
  height: 5px;
  margin-top: -30px;
}
.contact-section .social-media ul li img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 10px;
}
.contact-section h4 {
  margin-top: 15px;
  font-size: 16px;
}
.contact-section p {
  font-size: 12px;
  line-height: 18px;
}
.footer-section p {
  font-size: 10px;
}
.footer-section .bottom-menu li a {
  font-size: 10px;
}
.footer-section .bottom-menu li {
  margin-right: 10px;
}
.footer-section .bottom-menu {
  margin: 0px;
  padding: 0px;
}
.footer-section .bottom-menu .active {
  padding: 2px 5px;
}
/* code end */
}
/* Most of the Tablet Phone and mini notebook Code */
@media ( min-width: 768px) and (max-width: 1024px) {
/* code start */

.what-section .scrl {
  width: 3px;
}
.what-section .inner-what img {
  width: 160px;
  height: 125px;
}
.what-section .inner-what h5 {
  font-size: 16px;
}
.what-section .inner-what .dot {
  height: 88px;
}
.what-section .inner-what p {
  font-size: 9px;
}
.what-section p {
  font-size: 10px;
  margin-top: -90px;
  margin-left: 0px;
  line-height: 18px;
}
.header-section .inner-header h1 {
  font-size: 36px;
  line-height: 40px;
  margin-top: 35px;
}
.header-section .inner-header .gls {
  width: 40%;
  margin-top: 40px;
}
.header-section .inner-header .btn {
  width: 30%;
  margin-top: 20px;
}
.header-section .inner-header .line {
  width: 17px;
}
.work-section h1 {
  font-size: 36px;
  margin-top: -60px;
  margin-left: 20px;
}
.work-section .uline {
  width: 190px;
  height: 5px;
  margin-top: -30px;
  margin-left: -110px;
}
.work-section .scrl {
  margin-top: 50px;
  width: 17px;
}
.work-section .load {
  width: 25%;
}
.about-section h1 {
  font-size: 40px;
  margin-top: -60px;
}
.about-section .uline {
  width: 225px;
  height: 5px;
  margin-top: -30px;
}
.about-section p {
  font-size: 10px;
  margin-left: 20px;
  line-height: 17px;
}
.about-section .scrl {
  width: 17px;
}
.about-section .inner-about .crl {
  height: 140px;
}
.about-section .inner-about h1 {
  font-size: 36px;
}
.about-section .inner-about h5 {
  font-size: 16px;
}
.about-section .inner-about p {
  font-size: 10px;
  line-height: 16px;
}
.contact-section .form-label {
  font-size: 12px;
  margin-bottom: 5px;
}
.contact-section .form-control {
  font-size: 12px;
}
.contact-section .contact-form .send {
  margin: 10px auto 40px;
}
.contact-section h1 {
  font-size: 36px;
}
.contact-section .uline {
  width: 175px;
  height: 5px;
  margin-top: -30px;
}
.contact-section .social-media ul li img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 10px;
}
.contact-section h4 {
  margin-top: 15px;
  font-size: 16px;
}
.contact-section p {
  font-size: 12px;
  line-height: 18px;
}
.footer-section .bottom-menu li a {
  font-size: 11px;
}
.footer-section .bottom-menu li {
  margin-right: 15px;
}

/* code end */
}
